name: postsubmit
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  presubmit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: hydrate-goproxy
      run: |
        mkdir -p hydrate-goproxy
        cd hydrate-goproxy
        go mod init hydrate-goproxy
        go get github.com/awslabs/operatorpkg@HEAD